# --- PlatformIO ---
.pio/
.pioenvs/
.piolibdeps/
.pio/build/
.pio/libdeps/
.pio/.cache/
*.elf
*.bin
*.hex
*.map

# --- Build output (generic) ---
build/
_build/
out/
dist/
cmake-build-*/

# --- VS Code (local workspace settings) ---
.vscode/

# --- Logs / temp ---
*.log
*.tmp
*.bak

# --- OS / editor noise ---
.DS_Store
Thumbs.db
*~
*.swp

# --- KiCad backups
ControllerV7.0-backups/

# --- Kate backuo
*.kate-swp
